* text=auto eol=crlf
*.[cC][mM][dD] text eol=crlf
*.[bB][aA][tT] text eol=crlf
*.[pP][sS]1 text eol=crlf

*.sql linguist-detectable
*.sql linguist-language=SQL
*.sql -linguist-documentation

main/mysql/** -linguist-vendored
main/mysql/** -linguist-documentation
main/mysql/** linguist-detectable
main/mysql/** linguist-language=SQL
